<nav class="navbar navbar-default" style="padding-top:15px;padding-bottom:15px">
        <div id="navbarCollapse" class="collapse navbar-collapse" style="background-image: url('images/divup.jpg');  ">

        <ul class="nav navbar-nav navbar-left" style="margin-left: 170px">
                <li><h4><span span class="glyphicon glyphicon-heart"></span>Welcome to Amazon</h4></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" style="margin-right: 170px">
                <li><a href="#"><span span class="glyphicon glyphicon-earphone"></span><b>Contact Us</b></a></li>
            </ul>
        </div>
    </nav>
