

     

<div class="container" style="margin-left:14%">
      
    <div class="row" *ngFor="let product of productArray">
        <div class="col-md-5" >

            <div class="row">
                <div>
                    <img id="mainImage" src={{product.mainimg}} height="50%" width="50%" />
                </div>
            </div>
            <div class="row">
                <table>
                <tr>
                    <td class="tdhover">
                        <figure>
                            <img id="sideImage1" src={{product.mainimg}} height="100px" width="100px" />
                        </figure>
                    </td>
                    <td class="tdhover">
                        <figure>
                            <img id="sideImage2" src={{product.mainimg}} height="100px" width="100px" />
                        </figure>
                    </td>
                    <td class="tdhover">
                        <figure>
                            <img id="sideImage3" src={{product.mainimg}} height="100px" width="100px"/>
                        </figure>
                    </td>
                    <td class="tdhover">
                        <figure>
                            <img id="sideImage4" src={{product.mainimg}} height="100px" width="100px"/>
                        </figure>
                    </td>
                </tr>
                </table>

            </div>
                
        </div>
        <div class="col-md-5">
            <h3 id="productName">{{product.name}}</h3>
            <hr>
            <h4 id="productPrice">Rs.{{product.price}}</h4> 
            <hr>
            <div class="well">
                <ul>
                    <li id="line1">{{product.description}}</li>
                    
                </ul>  

            </div> 
            <hr>
                
            <button type="button" (click)="setData()" class="btn btn-warning btn-lg">Place Order</button>


        </div>
    </div>
</div>

    