
<div class="container">
    <div class="row" >
        <div class="col-md-3" *ngFor="let product of productArray"  >
            <div class="demo-content">
                <div class="gallery">
                    <div class="well">
                        <img src={{product.mainimg}} alt="OnePlus 5T" width="100%" height="50%">
                    </div>
                    <div class="desc">
                        <p style="font-size: 20px;"><b>{{product.name}}</b></p>
                        <p style="font-size: 20px;color: red;">{{product.price}}</p>
                        <br>
                        <button type="button" id={{product.id}} (click)="onViewPage(product.id)" class="btn btn-info btn-sm" style="margin-bottom: 20px">Buy</button>
                    </div>
                </div>
            </div>
        </div>               
    </div>
    <hr style="margin-right:25%">
</div>
        
