
<div class="container" style="margin-left:18%">

                <div class="row">

                    <div class="col-md-3">
                        <div class="demo-content">
                            <div class="gallery">
                                <div class="well">
                                    <img src="assets/images/5t.jpg" alt="OnePlus 5T" width="100%" height="50%">
                                </div>

                                <div class="desc">
                                    <p style="font-size: 20px;"><b>Bullete</b></p>
                                    <p style="font-size: 20px;color: red;">Rs.66800</p>
                                    <br>
                                    <button type="button" id="product1" (click)="onViewPage('product1')" class="btn btn-info btn-sm" style="margin-bottom: 20px">Buy</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                            <div class="demo-content">
                                <div class="gallery">
                                    <div class="well">
                                        <img src="assets/images/bag.jpg" alt="bed" width="100%" height="50%">
                                    </div>
    
                                    <div class="desc">
                                        <p style="font-size: 20px;"><b>Bullete</b></p>
                                        <p style="font-size: 20px;color: red;">Rs.66800</p>
                                        <br>
                                        <button onclick="" type="button" class="btn btn-info btn-sm" style="margin-bottom: 20px">Buy</button>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                    <div class="col-md-3">
                        <div class="demo-content bg-alt">
                            <div class="gallery">
                                <div class="well">
                                    <img src="assets/images/oneplus.jpg" alt="bed" width="100%" height="50%">
                                </div>

                                <div class="desc">
                                    <p style="font-size: 20px;"><b>Set of 8 Chairs</b></p>
                                    <p style="font-size: 20px;color: red;">Rs.668</p>
                                    <br>
                                    <button onclick="" type="button" class="btn btn-info btn-sm" style="margin-bottom: 20px">Buy</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <hr style="margin-right:25%">
                <!--Row with two columns divided in 1:3 ratio-->
                <div class="row">

                        <div class="col-md-3">
                            <div class="demo-content">
                                <div class="gallery">
                                    <div class="well">
                                        <img src="assets/images/jackets.jpg" alt="bed" width="100%" height="50%">
                                    </div>
    
                                    <div class="desc">
                                        <p style="font-size: 20px;"><b>Bullete</b></p>
                                        <p style="font-size: 20px;color: red;">Rs.66800</p>
                                        <br>
                                        <button onclick="" type="button" class="btn btn-info btn-sm" style="margin-bottom: 20px">Buy</button>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="col-md-3">
                                <div class="demo-content">
                                    <div class="gallery">
                                        <div class="well">
                                            <img src="assets/images/shoes.jpg" alt="bed" width="100%" height="50%">
                                        </div>
        
                                        <div class="desc">
                                            <p style="font-size: 20px;"><b>Bullete</b></p>
                                            <p style="font-size: 20px;color: red;">Rs.66800</p>
                                            <br>
                                            <button onclick="" type="button" class="btn btn-info btn-sm" style="margin-bottom: 20px">Buy</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
        
                        <div class="col-md-3">
                            <div class="demo-content bg-alt">
                                <div class="gallery">
                                    <div class="well">
                                        <img src="assets/images/beanbag.jpg" alt="bed" width="100%" height="50%">
                                    </div>
    
                                    <div class="desc">
                                        <p style="font-size: 20px;"><b>Set of 8 Chairs</b></p>
                                        <p style="font-size: 20px;color: red;">Rs.668</p>
                                        <br>
                                        <button onclick="" type="button" class="btn btn-info btn-sm" style="margin-bottom: 20px">Buy</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <hr style="margin-right:25%">
                    <!--Row with two columns divided in 1:3 ratio-->
                    
                        <hr style="margin-right:25%">
    
            </div>
        
